<!DOCTYPE html>
<html>
  <head>
    <title>Analytic Inbox</title>

    <!-- Bootstrap stuff -->
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="public/css/bootstrap.css" />
    <style>
        body {
        padding-top: 20px;
    }
    </style>

  </head>
  <body>
    <!-- Fixed navbar -->

    <!--
    <div>
      <p>Flash messages: </p>
      <p>{{errorMessages}}</p>
      <p>{{infoMessages}}</p>
    </div>
    -->

    <div class="container">
        <div class="jumbotron">
            <h1 class="margin-base-vertical">Analytic Inbox</h1>
            <p>Analytic Inbox is a data analysis and visualization service for email.
            <p class="margin-base-vertical">
            <a class="btn btn-primary btn-large" href="/auth/google_oauth2">Login</a>
            </p>
        </div>
    </div>
    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
  </body>
</html>