<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <!-- Bootstrap stuff -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css" />
    <link rel="stylesheet" href="/public/css/plottable.css" />
    <style>
    body {
        padding-top: 80px;
        font-size: 12px;
    }

    .query-panel div {
      max-height: 400px;
      overflow: scroll;
    }    
    </style>
  </head>
  <body>

    <div id="main-region" class="container">
    </div> <!-- /container -->

    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/waiting.bundle.js"></script>
  </body>
</html>