Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.21
Werkzeug==0.9.4
amqplib==1.0.2
bigquery==2.0.17
boto==2.32.1
certifi==14.05.14
cql==1.4.0
google-api-python-client==1.2
google-apputils==0.4.0
httplib2==0.9
itsdangerous==0.24
oauth2==1.5.211
oauth2client==1.2
psycopg2==2.5.4
pymongo==2.7.2
python-dateutil==1.5
python-gflags==2.0
pytz==2014.4
thrift==0.9.1
unicodecsv==0.9.4
wsgiref==0.1.2
